/*
    Created on : 25.04.2016, 19:34:35
    Author     : Lars Wrenger
*/
.root {
    /* Base color for the most elements */
    -fx-base: hsb(0, 0%, 20%);
    -fx-background: -fx-base;
    -fx-control-inner-background: derive(-fx-base, -20%);
    -fx-control-inner-background-alt: derive(-fx-base, -10%);
    -fx-selection-bar-non-focused: dimgrey;

    /* Default buttons color */
    -fx-default-button: hsb(195, 100%, 60%);

    /* Hover effects for buttons and similar elements (see Modena) */
    -fx-hover-base: ladder(
            -fx-base,
            derive(-fx-base, 20%) 20%,
            derive(-fx-base, 30%) 35%,
            derive(-fx-base, 40%) 50%,
            derive(-fx-base, 40%) 80%,
            derive(-fx-base, -5%) 90% /* Bright buttons become darker */
    );
}

/* Promp text */
.text-input, .text-input:focused {
    -fx-prompt-text-fill: derive(-fx-base, 50%);
    -fx-fill: -fx-text-base-color;
}

.styled-text-area {
    -fx-background-color: -fx-background;
    -fx-highlight-fill: -fx-accent;
    -fx-padding: 0.166667em;
}

.styled-text-area .content {
    -fx-padding: 3px 7px 3px 7px;
}

.styled-text-area .caret {
    -fx-fill: -fx-text-base-color;
    -fx-stroke: -fx-text-base-color;
}

.styled-text-area .text {
    -fx-fill: -fx-text-base-color;
    -fx-font-size: 1.1em;
    -fx-font-family: 'Menlo', monospace;
}

.styled-text-area .keyword {
    -fx-fill: #C792EA;
    -fx-font-weight: bold;
}

.styled-text-area .comment {
    -fx-fill: #7f7f7f;
}

.styled-text-area .string {
    -fx-fill: #4eae7d;
}

.styled-text-area .number {
    -fx-fill: #ffcc00;
}

.styled-text-area .special {
    -fx-fill: #b46c2a;
    -fx-font-weight: bold;
}